# ; in a file path is prohibited
## genome sequence
genome = /data/01/user192/qijiao/zhushi/genome/Erufescens.genome.chr.v3.fasta
species_abbreviation = Erufescens
masked_genome = 

## threads
threads = 30

## softwares
### TRF
trf = trf

### repeatmask
BuildDatabase = /data/00/software/Repeatmask/RepeatModeler-2.0/BuildDatabase
RepeatModeler = /data/00/software/Repeatmask/RepeatModeler-2.0/RepeatModeler
RepeatMasker = /data/00/software/Repeatmask/RepeatMasker/RepeatMasker
RepeatProteinMask = /data/00/software/Repeatmask/RepeatMasker/RepeatProteinMask
repeat_species = rattus  ## if you speceis is not belong to Mesangiospermae, please select the right one
RepeatMaskerLib = /data/00/software/Repeatmask/RepeatMasker/Libraries/RepeatMasker.lib

### abinitio prediction
augustus = augustus
augustus_train = BUSCO_busco
genscan = /data/00/user/user112/software/genscan/genscan
genscan_train = /data/00/user/user112/software/genscan/HumanIso.smat ## choose by yourself
glimmerhmm = /data/00/user/user112/software/GlimmerHMM/bin/glimmerhmm_linux_x86_64
glimmerhmm_train = /data/00/user/user112/software/GlimmerHMM/trained_dir/human

### homologs prediction
gemoma = /data/00/software/GeMoMa/GeMoMa-1.7.1/GeMoMa-1.7.1.jar
homologs_dir = /data/00/user/user161/database/genome_data      ## All the needed genome fasta and gff should be contined in this dir, and abide this format: XXX.genome.fa and XXX.genomic.gff. XXX represent the species name the in the next line.
homologs_species = Acer_truncatum;Artha;Citrus_grandis;Nisib;Nitan;Piver;Vivin  ## different speceis were separated with ";" and no space were allowed

### rna-seq
rna_seq_dir = /data/01/user161/project/08.Nisph/02.annotation/z.trans    ### This dir containing all the rna_seq gff3. One gff file to one scaffold. 

### EVM
EVM = /data/00/software/EVM/EVM_V1.1.1/EVidenceModeler-1.1.1
